.*
shiny_bookmarks/
paper.pdf
varistran.sublime-*

# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R

# RStudio files
varistran.Rproj
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# output of test scripts
test_output/

# generated documentation
docs
.Rproj.user

inst/doc
